@charset "UTF-8";
html,
body,
p,
ol,
ul,
li,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
font-size: 100%;
font-weight: normal
} */
ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
video {
  display: block;
  height: auto;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

body {
  /* font-size: 22px; */
}

button {
  border: none;
}

svg {
  color: currentColor;
}

/** /контейнер для центрування контенту, розміри згідно макету/ */
/* .container {
margin-left: auto;
margin-right: auto;
padding-left: 15px;
padding-right: 15px;
width: 1200px;
} */
/** // візуально приховати елементи */
/* .visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
padding: 0;
overflow: hidden;
border: 0;
clip: rect(0 0 0 0);
} */
.filter-list-btn {
  border-style: solid black 1px;
  padding: 6px 22px;
  border-radius: 5px;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: opacity 500ms cubic-bezier(0.83, -0.08, 0.32, 1) 1000ms, visibility 500ms cubic-bezier(0.83, -0.08, 0.32, 1) 1000ms;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.no-scroll {
  overflow: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 400px;
  min-height: 300px;
  padding: 15px;
  background-color: #FFFFFF;
  transform: translate(-50%, -50%) scale(1);
  transition: opacity 500ms cubic-bezier(0.83, -0.08, 0.32, 1) 1000ms;
}

.modal-title {
  text-align: center;
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
}

.submit-button {
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
  background-color: #2196F3;
  border: none;
  margin-top: 30px;
  margin-bottom: 30px;
}

.checkbox-div {
  display: flex;
  justify-content: baseline;
  margin-top: 10px;
  gap: 4px;
}

.formular {
  display: flex;
  flex-direction: column;
}

.modal-btn {
  display: flex;
}

.modal-label {
  display: flex;
  flex-direction: column;
  color: #757575;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  gap: 4px;
  margin-top: 10px;
  position: relative;
}

.modal-input {
  height: 40px;
  padding-left: 42px;
}

.modal-input:hover {
  outline: 1px solid #2196F3;
}

.modal-input:hover + svg, .modal-input:focus + svg {
  fill: #2196F3;
}

.modal-label > svg {
  position: absolute;
  top: 31px;
  left: 15px;
}

.modal-input-special {
  height: 120px;
  padding: 12px 16px;
}

body {
  font-family: Roboto;
  line-height: normal;
}

use {
  margin: 0px;
  padding: 0px;
}

.filter-list-btn {
  border-style: solid black 1px;
  padding: 6px 22px;
  border-radius: 5px;
}

.portfolio-div {
  margin: 30px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  -moz-column-count: 3;
       column-count: 3;
  margin-bottom: 94px;
  border-style: 1px solid black;
}

.filter-list-btn:hover {
  background-color: #2196F3;
  color: white;
}

.filter-list-btn {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.48px;
  margin-bottom: 50px;
}

.portfolio-list-fish {
  display: flex;
  align-items: end;
}

.portfolio-list-item {
  border: 1px solid #EEE;
  margin-bottom: 30px;
  /* height: 404px; */
  /*  width: 370px; */
  /*  overflow: hidden; */
}

.portfolio-list-item:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.portfolio-list-title {
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #212121;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1.08px;
}

.portfolio-list-desc {
  color: #757575;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.48px;
}

.boxing {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  transform: translatey(100%);
  transition: transform 250ms ease-in-out;
}

/* .overlay2{
   position: relative;
   z-index: 2;
   background: rgba(47, 48, 58, 0.80);
   padding: 27px 102px 27px 102px;
   fill: #808080;
} */
.box {
  position: relative;
  overflow: hidden;
}

.boxing:hover .overlay {
  transform: translatey(0);
}

.portfolio-list-title {
  padding-top: 30px;
  padding-left: 20px;
}

.header-wrap {
  display: flex;
  gap: 93px;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 50px;
}

.nav-list-item {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}

.nav-list-item:hover {
  color: #2196F3;
}

.contacts-list {
  display: flex;
  gap: 50px;
  margin-left: auto;
}

.contacts-list-link {
  display: flex;
  gap: 10px;
}

.contacts-list-item {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  display: flex;
  align-items: center;
}

.contact-wrap {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contacts-list-item:hover {
  color: #2196F3;
}

.header-studio {
  color: #212121;
}

.header {
  padding-top: 32px;
  padding-bottom: 32px;
}

.filter-list {
  display: flex;
  gap: 8px;
  margin-top: 94px;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 50px;
}

.filter-list-item :nth-child(1)::before {
  background-color: #F5F4FA;
  border-style: none;
}

.header-logo {
  color: #2196F3;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}

#icon-envelope {
  fill: #2F303A;
}

#icon-envelope:hover {
  fill: #2196F3;
}

.section-hero:hover {
  color: white;
}

.section-hero-title {
  text-align: center;
  margin: 0 auto;
  max-width: 696px;
  font-family: Roboto;
  color: white;
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
}

.section-hero-btn {
  max-width: 216px;
  height: 50px;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  color: white;
  border-radius: 4px;
  padding: 10px 32px;
}

.section-hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../herobg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section-hero {
  background-color: #2F303A;
}

.section-hero-btn {
  background-color: #2196F3;
}

.section-features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-list {
  display: flex;
  gap: 30px;
}

.features-list-title {
  margin-bottom: 10px;
  color: #212121;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.features-list-desc {
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}

.features-list {
  margin-left: 30px;
  margin-right: 30px;
}

.features-img {
  background-color: #F5F4FA;
  margin-bottom: 30px;
  border-radius: 4px;
  fill: #212121;
}

.features-list-item {
  padding: 20px 100px;
  background-color: #F5F4FA;
}

.section-work {
  padding-bottom: 94px;
}

.work-list {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}

.work-list-img {
  z-index: 1;
}

.section-work-title {
  text-align: center;
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}

.section-team {
  padding-bottom: 94px;
  padding-top: 94px;
  background-color: #F5F4FA;
}

.section-team-title {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}

.team-svg:hover {
  fill: #2196F3;
}

.team-svg-final {
  fill: #AFB1B8;
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-list-content-wrap {
  background-color: white;
  width: 270px;
  border-radius: 4px;
}

.team-social-item {
  padding: 12px;
  border-radius: 50%;
}

.team-social-item:hover {
  background-color: #2196F3;
}

.team-social-item:hover .team-svg-final {
  fill: #FFF;
}

.team-list-title {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}

.team-list-desc {
  color: #757575;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
  margin-top: 10px;
}

.team-list-img {
  max-width: 270px;
}

.team-list-text {
  color: var(second);
  margin-top: 10px;
  text-align: center;
}

.team-list-item:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  border-radius: 4px;
}

.team-social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 28px 0;
}

.section-team-title {
  text-align: center;
  margin-bottom: 50px;
}

.team-list-content-wrap {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.footer {
  padding-bottom: 60px;
  padding-top: 60px;
}

.footer {
  background-color: #2F303A;
  display: flex;
}

.footer-logo {
  color: #2196F3;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}

.footer-studio {
  color: white;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.footer-parag {
  color: #FFF;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.footer-add {
  margin-left: 70px;
}

.footer-list {
  display: flex;
  padding-top: 20px;
  gap: 10px;
  margin-left: 70px;
  -moz-column-count: 1;
       column-count: 1;
}

.footer-special-list {
  display: flex;
}

.address-list-item1 {
  color: #FFF;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  margin-top: 10px;
}

.address-list-item2 {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  margin-top: 10px;
}

.address-list-item {
  color: #808080;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}

.address-list {
  padding: 10px;
  margin-left: 100px;
}

.address {
  margin-bottom: 20px;
}

.address-list-link {
  color: white;
}

.address {
  margin-top: 20px;
}

.address-list-item {
  margin-bottom: 9px;
}

.footer-item {
  fill: white;
}
.footer-list-class {
  border-radius: 50%;
  border-color: black solid;
}

.client-svg-list {
  fill: #AFB1B8;
  border: solid #AFB1B8 1px;
  border-radius: 4px;
  height: 70px;
  padding: 20px 50px;
}
.client-svg-list:hover {
  color: #2196F3;
}

.section-clients {
  padding-bottom: 40px;
}

.client-para {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-top: 94px;
  margin-bottom: 50px;
}

.client-list {
  display: flex;
  gap: 30px;
  display: flex;
  justify-content: center;
}

.client-svg {
  padding: 16px 32px 16px 32px;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  margin-bottom: 94px;
}

svg:hover {
  fill: #2196F3;
}

.svg-team-list {
  display: flex;
  gap: 30px;
  margin-top: 28px;
  margin-left: 50px;
  margin-bottom: 10px;
}

.svg-team-list-og {
  display: flex;
  gap: 30px;
  padding: 2px;
  justify-content: space-around;
  margin: 0px 20px 0px 20px;
}/*# sourceMappingURL=main.css.map */