.footer{
    padding-bottom: 60px;
    padding-top: 60px;
    background-color: #2F303A;
    display: flex;
    padding-left: 215px;
    padding-top: 80px;
 }

 .footer-logo{
    color: #2196F3;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
 }
 
 .footer-studio{
    color: white;
 font-family: Raleway;
 font-size: 26px;
 font-style: normal;
 font-weight: 700;
 line-height: normal;
 letter-spacing: 0.78px;
 }
 
 .footer-parag{
    color: #FFF;
 font-family: Roboto;
 font-size: 14px;
 font-style: normal;
 font-weight: 700;
 line-height: normal;
 letter-spacing: 0.42px;
 text-transform: uppercase;
 }

 .footer-add{
    margin-left: 70px;
 }
 
 .footer-list{
    display: flex;
  gap: 10px;
 margin-left: 70px;
 column-count: 1;
 }


.footer-special-list{
    display: flex;
 }


.address-list-item1{
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.42px;
    margin-top: 10px;
 }
 
 .address-list-item2{
    color: rgba(255, 255, 255, 0.60);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.42px;
    margin-top: 10px;
 }
 
 .address-list-item{
    color: #808080;
 font-family: Roboto;
 font-size: 14px;
 font-style: normal;
 font-weight: 400;
 line-height: 24px; /* 171.429% */
 letter-spacing: 0.42px;
 }


.address-list{
display: flex;
flex-wrap: wrap;
justify-content: center;
   @media screen and(min-width: 768px){
      padding: 10px;
   }
 }


.address{
    margin-bottom: 20px;
 }
 
 .address-list-link{
    color: white;
 }
 
 .address{
    margin-top: 20px;
 }
 
 .address-list-item{
    margin-bottom: 9px;
 }

 .footer-item{
   fill: white;
}

.footer-list-class{
   display: flex;
   border-radius: 50%;
   width: 44px;
   height: 44px;
   padding: 4px;
background-color: #ffffff19;
justify-content: center;
align-items: center;
margin-top: 20px;
&:hover{
background-color: #2196F3;
color: #FFF;
}
}

.form-main-div{
display: flex;
flex-direction: column;
margin-left: 50px;
}

.label-subscribe{
   color: #FFF;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
}

.input{
   border-radius: 4px;
   border: 1px solid rgba(255, 255, 255, 0.30);
   background: rgba(33, 150, 243, 0.00);
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
 width: 358px;
 height: 35px;
 margin-top: 20px;

}

.button-subscribe{
   color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 187.5% */
letter-spacing: 0.96px;
height: 31px;
margin-top: 38px;
margin-left: 12px;
padding-left: 15px;
background-color: #2196F3;
border-radius: 4px;
fill: #FFF;
}

.svg-subscribe{
   padding-top: 7px;
}


