.footer{
    padding-bottom: 60px;
    padding-top: 60px;
 
 }

 .footer{
    background-color: #2F303A;
   display: flex;
   
 }
 
 
 .footer-logo{
    color: #2196F3;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
 }
 
 .footer-studio{
    color: white;
 font-family: Raleway;
 font-size: 26px;
 font-style: normal;
 font-weight: 700;
 line-height: normal;
 letter-spacing: 0.78px;
 }
 
 .footer-parag{
    color: #FFF;
 font-family: Roboto;
 font-size: 14px;
 font-style: normal;
 font-weight: 700;
 line-height: normal;
 letter-spacing: 0.42px;
 text-transform: uppercase;
 }

 .footer-add{
    margin-left: 70px;
 }
 
 .footer-list{
    display: flex;
  padding-top: 20px;
  gap: 10px;
 margin-left: 70px;
 column-count: 1;
 }


.footer-special-list{
    display: flex;
 }


.address-list-item1{
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.42px;
    margin-top: 10px;
 }
 
 .address-list-item2{
    color: rgba(255, 255, 255, 0.60);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.42px;
    margin-top: 10px;
 }
 
 .address-list-item{
    color: #808080;
 font-family: Roboto;
 font-size: 14px;
 font-style: normal;
 font-weight: 400;
 line-height: 24px; /* 171.429% */
 letter-spacing: 0.42px;
 }


.address-list{
    padding: 10px;
    margin-left: 100px;
 }


.address{
    margin-bottom: 20px;
 }
 
 .address-list-link{
    color: white;
 }
 
 
 .address{
    margin-top: 20px;
 }
 
 .address-list-item{
    margin-bottom: 9px;
 }